/* Body Styles */

body {
     font-size: 18px;
}

.body-background-light-blue {
  background-color: #a2bcc2;
}

.body-background-blue {
    background-color: #6387a5;
}

.body-background-purple {
     background-color: #ac93ce;
}

.body-background-green {
  background-color: #52ac98;
}

.body-background-light-orange {
     background-color: #F2A81D;
}

.body-background-dark-blue {
     background-color: #6F8CA6;
}

.body-background-yellow {
     background-color: #F2B544;
}

/*---------------------------------------*/

/* Main Navigation */

.navbar-inverse {
    background-color: #BF7449;
    border-color: rgba(166, 63, 3, 0.21);
}

@media screen and (max-width: 767px) {
     .navbar-inverse>.container {
         padding-bottom: 0px;
         min-height: 100%;
     }
}

.navbar-inverse .navbar-brand {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    text-shadow:
         0px 2px 0 #000,
         0px 3px 0 #000,
         0px 0px 0 #000,
         1px 0px 0 #000,
         1px 3px 0px #000;
}

.navbar-inverse .navbar-nav>li>a {
     color: #fff;
     font-size: 16px;
     font-weight: 700;
     text-shadow:
         0px 2px 0 #000,
         0px 3px 0 #000,
         0px 0px 0 #000,
         1px 0px 0 #000,
         1px 3px 0px #000;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #eee;
}

/*---------------------------------------*/

/* Home Page Jumbotron */

.jumbotron {
     background-color: #F2A81D;
     margin-top: -20px;
     padding: 10px 15px;
}

/*---------------------------------------*/

/* Text Higlight */

.white-highlight {
     color: #fff;
     font-size: 50px;
     font-weight: 800;
     -webkit-text-stroke: 1px black;
     text-shadow:
          3px 3px 0 #000,
          -1px -1px 0 #000,
          1px -1px 0 #000,
          -1px 1px 0 #000,
          1px 1px 0 #000;

}

.heading-white-highlight {
     color: #fff;
     font-weight: 800;
     -webkit-text-stroke: 1px black;
     text-shadow:
          0px 2px 0 #000,
          0px 3px 0 #000,
          0px 0px 0 #000,
          1px 0px 0 #000,
          1px 3px 0px #000;
}

.heading-white-highlight a{
     color: #fff;
     font-weight: 800;
     -webkit-text-stroke: 1px black;
     text-shadow:
          0px 2px 0 #000,
          0px 3px 0 #000,
          0px 0px 0 #000,
          1px 0px 0 #000,
          1px 3px 0px #000;
}


h3.heading-white-highlight a:hover {
     color: #fff;
     font-weight: 800;
     -webkit-text-stroke: 1px black;
     text-shadow:
          0px 2px 0 #000,
          0px 3px 0 #000,
          0px 0px 0 #000,
          1px 0px 0 #000,
          1px 3px 0px #000;
    text-decoration: underline;
}

.definition-white-highlight {
     color: #fff;
     font-size: 32px;
     font-weight: 800;
     -webkit-text-stroke: 1px black;
     text-shadow:
          0px 2px 0 #000,
          0px 3px 0 #000,
          0px 0px 0 #000,
          1px 0px 0 #000,
          1px 3px 0px #000;
}

.paragraph-white-highlight, .paragraph-white-highlight a {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    text-shadow:
        -1px -1px 0 #000,
         1px -1px 0 #000,
         -1px 1px 0 #000,
          1px 1px 0 #000;
}

.paragraph-white-highlight a:hover {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    text-decoration: underline;
}

.list-white-highlight {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    text-shadow:
        -1px -1px 0 #000,
         1px -1px 0 #000,
         -1px 1px 0 #000,
          1px 1px 0 #000;
     padding-bottom: 10px;
}

.link-white-highlight {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    text-shadow:
        -1px -1px 0 #000,
         1px -1px 0 #000,
         -1px 1px 0 #000,
          1px 1px 0 #000;
     padding-bottom: 10px;
}

.link-white-highlight:hover {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    text-shadow:
        -1px -1px 0 #000,
         1px -1px 0 #000,
         -1px 1px 0 #000,
          1px 1px 0 #000;
    padding-bottom: 10px;
    text-decoration: underline;
}

.about-text-color, .about-footer, .text-color {
     color: #fff;
     font-weight: 600;
     text-shadow:
        -1px -1px 0 #000,
         1px -1px 0 #000,
         -1px 1px 0 #000,
          1px 1px 0 #000;
}

.about-well, .planning-well, .implement-well {
    min-height: 20px;
    /* color: #000; */
    font-size: 16px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: transparent;
    border: 4px solid #fff;
    border-radius: 15px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}


.about-link {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    text-shadow:
        -1px -1px 0 #000,
         1px -1px 0 #000,
         -1px 1px 0 #000,
          1px 1px 0 #000;
}

.about-link:hover {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    text-shadow:
        -1px -1px 0 #000,
         1px -1px 0 #000,
         -1px 1px 0 #000,
          1px 1px 0 #000;
}
/*---------------------------------------*/

/* Buttons */

.btn {
     font-weight: 600;
     background-color: #a52e03;
     color: #fff;
}

.btn a {
  color: #fff;
}

.btn a:hover {
  color: #000;
}

.btn-default a:hover {
    color: #333;
    background-color: #fff;
    border-color: #adadad;
    text-shadow: none;
}

.intro-btn {
    margin: 20px;
}

#planningBtn, #implementBtn {
    margin-right: 30px;
}

/*---------------------------------------*/

/* Footer Contact Info Highlight */

.footer {
  color: #fff;
    font-size: 18px;
    font-weight: 600;
    /*-webkit-text-stroke: 1px black;*/
    text-shadow:
         0px 2px 0 #000,
         0px 3px 0 #000,
         0px 0px 0 #000,
         1px 0px 0 #000,
         1px 3px 0px #000;
}

.footer li a {
  color: #fff;
}

/*---------------------------------------*/

/* Code From CSS-Tricks:
   https://css-tricks.com/forums/topic/css-border-sketched-effect/
   timjenkins CodePen: http://codepen.io/timjenkins/pen/Hjpfo
*/
.nothing-fancy {
  position: relative;
  padding: 1em;
  border: solid #000;
  border-width: 1px;
}

.nothing-fancy:before {
  position: absolute;
  top: -3px;
  bottom: 3px;
  left: -10px;
  /* margin + border */
  right: -10px;
  /* margin + border */
  display: block;
  border: solid #000;
  border-width: 2px;
  content: "";
  -webkit-transform: rotate(-0.9deg);
  -moz-transform: rotate(-0.9deg);
  -ms-transform: rotate(-0.9deg);
  -o-transform: rotate(-0.9deg);
  transform: rotate(-0.9deg);
}

.nothing-fancy:after {
  position: absolute;
  top: 1px;
  bottom: 1px;
  left: -4px;
  /* margin + border */
  right: -6px;
  /* margin + border */
  display: block;
  border: solid #000;
  border-width: 2px;
  content: "";
  -webkit-transform: rotate(0.3deg);
  -moz-transform: rotate(0.3deg);
  -ms-transform: rotate(0.3deg);
  -o-transform: rotate(0.3deg);
  transform: rotate(0.3deg);
}
